{{#each blogPosts as |blog| }}
<div class="col blog-post">
    <h2><a href="/blog/{{blog.id}}">{{blog.blog_title}}</a></h2>
    <p>Created by {{name}} on {{format_date blog.date_created}}</p>
    <p>
      {{blog.blog_post}}
    </p>
</div>
{{/each}}

<script src="./js/profile.js"></script>

